:root{
    --slow_transition:all 0.5s linear;
    --safalta_font:'Inter', sans-serif; 
    --bold:bold; 
    --theme_color:#11987e;
    --theme_contrast_color_light:#6454c552;
    --theme_contrast_color:#2944a9;
    --wave_border_white:url(/assets/image/wave_border.png);
    }
    body{
        font-family: var(--safalta_font);
        padding:0px 15px;
    }
    .footer{
        padding-top:250px !important; padding-top:250px;
    }
    .video-card{position:relative;}.video-play-icon-overlay{width:44px; height:44px; top:50%; left:50%; margin-top:-22px; margin-left:-22px; position:absolute;}
    .image-profile-cover{width:100% !important; aspect-ratio:auto 320/80; position:relative; overflow:hidden; background-color:var(--theme_color);}
    .btn-play{position:absolute; background-image:url(https://spiderimg1.safalta.com/assets/images/safalta.com/2022/03/10/vid-play_6229fd1bf19fc.png); background-size:100%; background-position: center; height:48px; width:48px; overflow:hidden; top:50%; left:50%; margin-top:-24px; margin-left:-24px; }
    .theme-gradient-container{
    background-image: linear-gradient(to right, #ffffff00 , var(--theme_color))
    }
    .theme-contrast-gradient-container{
    background-image: linear-gradient(to right, #ffffff00 , var(--theme_contrast_color_light))
    }
    .left-theme-strip{ background-color: var(--theme_contrast_color); min-height:300px;}
    .strip-testimonail-image{top:50%; right:-100px; translate:0% -50%;}
    .bg-light-yellow{background-color:#FFF7DB !important;}.border-light-yellow{border-color:#F4E2A1 !important;}
    .bg-light-blue{background-color:#DBF2FF !important;}.border-light-blue{border-color:#AADBF5 !important;}
    .bg-light-pink{background-color:#FFEDF2 !important;}.border-light-pink{border-color:#F0BCCB !important;}
    border-3{border:3px solid;} .border-5{border:5px solid} .border-radius-10{border-radius: 10px !important;} .border-radius-5{border-radius: 5px !important;} .border-radius-25{border-radius:25px !important;}
    .mw-1050{max-width:1050px;}.mw-850{max-width:850px !important;}.mw-768{max-width:768px !important;}.mw-450{max-width:450px !important; }.mw-320{max-width:320px !important;}
    .icon-24{width:24px !important;}.icon-48{width:48px !important;}.icon-80{width:80px !important;}.icon-100{width:100px !important;}.icon-150{width:150px !important;}.icon-200{width:200px !important;}.icon-250{width:250px !important;}
    .ratio-image{width:100%;height: 0;line-height: normal;position: relative;background-color:#EAEAEA;overflow: hidden;}.ratio-image img,.ratio-image iframe{position: absolute; top: 0; left: 0; object-fit: cover; object-position: center; width: 100%; height: 100%; max-width: 100%;}.image_1-1{padding-top:100%;}.image_4-3{padding-top:75%;}.image_16-9{padding-top:56.25%;}.image_3-2{padding-top:66.66%;}.image_8-5{padding-top:62.5%;}.ratio-image.object-fit-contain img,.ratio-image.object-fit-contain iframe,.ratio-image.object-fit-contain picture{object-fit: contain !important;}
    ul.list-no-style{list-style: none; padding-left:40px;} ul.list-checked-round li{position:relative; padding-left:25px;}
    ul.list-style-circle, ul.list-style-circle li{list-style:circle !important;}
    ul.list-style-number, ul.list-style-number li{list-style: decimal !important;}
    ul.list-checked-round li:before{content: ""; height: 15px; width: 15px; background-color: #d52027; border-radius: 50%; position: absolute; top: 0px; left: 0px;}
    ul.list-checked-round li:after{content: ""; height: 4px; width: 8px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; position: absolute; top: 4px; left: 3px; transform: rotate( -45deg);}
    ul.plan-feature li{margin-bottom:20px;}
    ul.list-simple-checked{list-style: none !important; padding-left:40px;}
    ul.list-simple-checked li{position:relative;}
    ul.list-simple-checked li:before{content: ""; height: 6px; width: 12px; border-left: 2px solid #219653; border-bottom: 2px solid #219653; position: absolute; top: 5px; left: -30px; transform: rotate( -45deg);}
    .font-32{font-size:32px !important; line-height:1.5;} .font-22 {font-size:22px !important; line-height:1.5;} .font-16{font-size:16px !important; line-height:1.5;} .font-14{font-size:14px !important; line-height:1.5;} .font-12{font-size:12px !important; line-height:1.5;}.font-16d-18m{font-size:16px !important; line-height:1.5;}
    .blurry_white_bg{
        background-color: rgba(255, 255, 255, 0.6) !important;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .wave_border_bottom_white:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 250px;
        background: var(--wave_border_white);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .wave_border_top_white:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        width: 100%;
        height: 250px;
        background: var(--wave_border_white);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .bg-theme-contrast{
    background-color:var(--theme_contrast_color);
    }
    .brand-txt{
    font-size:28px;
    line-height:32px;
    font-weight:bold;
    }
    .brand-logo{
    height:85px;
    width:auto;
    }
    .btn-theme{
    color: #fff;
    background-color: var(--theme_color);
    border-color: var(--theme_color);
    }
    .btn-theme-contrast{
    color: #fff;
    background-color: var(--theme_contrast_color);
    border-color: var(--theme_contrast_color);
    }
    .text-theme{
    color:#46ceb3;
    }
    .text-theme-contrast{
    color:var(--theme_contrast_color);
    }
    .banner-section{
    height:auto;
    width:90%;
    }
    @media only screen and (max-width: 768px) {
    .font-32{font-size:24px !important;} .font-22 {font-size:18px !important;}.font-16d-18m{font-size:18px !important; }
    }